h1, p {
  font-family: Lato;
}
.label{
  color:red;
  background-color: none;
}
.infoblock{
  color:#32d296!important;
  margin-top:-7px!important;
}
.uk-active {
  border-color:#1e87f0!important;
}

.uk-tab > .uk-active > a {
    color: #333;
    border-color: #1e87f0;
}
.titleRes{
  font-size:13px;
  margin-bottom: -2px;
}